<div class="container">
  <div class="page-header">
    <h1>About Me</h1>
  </div>
  <ul>
     <li>General who I am where I'm from</li>
     <li>Education/work</li>
     <li>Segue into programming interests</li>
  </ul>
</div>