<div class="container">
  <h1 class="robo page-header">Welcome to my personal website!</h1>
  <div class="row home-body">
    <div class="col-md-6">
      <div class="home-pic">
        <%= image_tag( "andrew.jpg", size: "500x500", :alt => "Walker Trent" ) %>
      </div>
    </div>
    <div class="col-md-6 body-text">
      <p>My name is Andrew Pike and I'm here to ensure you're insured! Let me help you get the right coverage at the right price! 
      I'm an independent insurance agent working with Terry Johnson Insurance to provide you with Commercial, Home, Auto, and Life insurance.
      </p>
      <br>
      <p>Reach out and get a quote today!</p>
    </div>  
  </div>
</div>