<div class="container">
  <h1 class="robo page-header">Welcome to my personal website!</h1>
  <div class="row home-body">
    <div class="col-md-6">
      <div class="home-pic">
        <%= image_tag( "wdt_sdg.jpg", size: "500x500", :alt => "Walker Trent" ) %>
      </div>
    </div>
    <div class="col-md-6 body-text">
      <p>Greetings! My name is Walker Trent and I'm a structural engineer turned
      computer programmer! I created this site as a hobby project to showcase 
      some of my skills! Feel free to explore the site and contact me if you'd 
      like any additional information!</p>
    </div>  
  </div>
</div>