<div class="container">
  <div class="page-header">
    <h1>Programming Projects</h1>
  </div>
  <div class="page-subheading">
    <h4>This site is under construction! For now, please visit my GitHub to see some
    of my completed projects. Thank you for your patience!</h4>
  </div>
  <br>
  <br>
  <div class="container">
    <p>Here I have listed some programming projects I have attempted on my own. 
    Feel free to also visit my GitHub for access to any of my source code!</p>
    <ul>
      <li>SafeStamp</li>
      <li>Who said it?</li>
      <li>Developreneur</li>
      <li>Flexidia</li>
      <li>Algorithms</li>
      <li>LPTHW</li>
    </ul>
  </div>
</div>