<div class="container">
  <div class="page-header">
    <h1>Programming Projects</h1>
  </div>
  <p>Here I have listed some programming projects I have attempted on my own. Feel free to also visit my github for access to any of my source code!</p>
  <ul>
    <li>Who said it?</li>
    <li>Developreneur</li>
    <li>Study buddy?</li>
    <li>Mental Math Man?</li>
    <li>Flexidia</li>
    <li>Algorithms</li>
    <li>LPTHW?</li>
  </ul>
  <p>Link to Github & LinkedIn</p>
</div>