<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have received a message from your site contact form from
    <%= "#{ @name }, #{ @email }." %> They are seeking <%= #{ @coverage } %> coverage.</p>
    <p><%= @body %></p>
  </body>
</html>